@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

.background {
  background-image: url('/images/portally.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

.tide-table {
  width: 100%;
  border-collapse: collapse;
}

.tide-table th,
.tide-table td {
  padding: 8px;
  text-align: left;
}

.tide-table th {
  background-color: #f0f0f0;
  font-weight: bold;
}

.tide-table tbody tr:nth-child(even) {
  background-color: #f8f8f8;
}

.tide-table td {
  vertical-align: middle;
}

.tide-table td.high-tide {
  color: green;
}

.tide-table td.low-tide {
  color: red;
}

.tide-table td.mid-tide {
  color: orange;
}

